# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
sidecar
deepflow-newrelic-sidecar

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store

# Environment
.env.local
.env.*.local

# Logs
*.log

#env
.env